* {
    box-sizing: border-box;
}

body {
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: rgba(27, 25, 55, 1);
    display: flex;
    color: white;
    border-radius: 8px;
}

h1 {
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 44px;
    line-height: 44px;
    font-family: sans-serif;
}

.discover-text{
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    font-weight: bold;
    margin-top: 70px;
    font-size: 24px;
}

span {
    color: rgba(171, 92, 219, 1);
}

.left-part {
    width: 50%;
    padding: 71px;
}

.left-part-content {
    display: flex;
    font-family: 'inter'; 
    align-items: center;
    margin-top: 155px;
}

.companies-container {
    padding-right: 50px;
}

.ten-k {
    font-weight: bold;
    font-size: 46px;
    margin-bottom: 0;
}

.companies {
    font-size: 23px;
    font-weight: 300;
    font-family: sans-serif;
    margin-top: 8px;

}

.templates-container {
    padding: 50px;
}

.three-hundred-forteen {
    font-weight: bold;
    font-size: 46px;
    margin-bottom: 0;
}

.templates {
    font-size: 23px;
    font-weight: 300;
    font-family: sans-serif;
    margin-top: 8px;

}

.queries-container {
    padding-left: 50px;
}

.twelve-millions {
    font-weight: bold;
    font-size: 46px;
    margin-bottom: 0;
}

.queries {
    font-size: 23px;
    font-weight: 300;
    font-family: sans-serif;
    margin-top: 8px;
}

.right-part {
    position: relative;
    overflow: hidden;
    width: 50%;
    border-radius: 0 16px 16px 0;
}
.right-part img {
    width: 100%;
    height: 100%;
}
.right-part::before {
    content: "";
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: #5C0592;
    position: absolute;
    opacity: .55;
}



